.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.scrollableContent {
    flex-grow: 1;
    overflow: auto;
}

.bottomButtonRow {
    flex-shrink: 0;
}
